<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Email verification Success</title>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

  <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />

  <style>
      @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;700&display=swap");
  </style>
  <style>
    * {
      font-family: "Outfit";
    }

    body {
      background-repeat: no-repeat;
      background-size: cover;
    }

    img {
      width: 10%;
    }

    .wrapper {
      margin: auto;
      padding: 2em;
      height: 80%;
    }

    .logo-wrap {
      text-align: center;
      padding: 2em;
    }

    .container {
      background-color: #fff;
      position: relative;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 415px;
      height: 532px;
      border: 1px solid #1d1d2929;
      border-radius: 30px;
    }

    .animation {
      margin-top: 2em;
      margin-bottom: 3em;
    }

    .text-wrap {
      text-align: center;
    }

    .text-welcome {
      text-align: center;
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 10px;
      letter-spacing: 0.21px;
      line-height: 28px;
    }

    .text-body {
      margin: auto;
      width: 80%;
      line-height: 20px;
      letter-spacing: 0.13px;
      color: rgb(0, 0, 103);
      font-size: 14px;
      font-weight: medium;
      margin-bottom: 5em;
    }

    .btn {
      font-size: 16px;
      font-weight: medium;
      color: #fff;
      padding: 0.8em;
      border-radius: 6px;
      background-color: #239D94;
      width: 302px;
      height: 47px;
      border: none;
      cursor: pointer;
      text-decoration: none;

    }

    @media screen and (max-width: 1000px) {
      img {
        width: 50%;
      }

      .container {
        width: 350px;
        height: 550px;
      }
    }
  </style>
</head>

<body>
  <div class="wrapper">
    
    <div class="container">
      <div class="logo-wrap">
        <img    src="https://api.fiatflex.com/logo.png" width="200"></img>
  </div>
      <div class="contain">
         
        <div class="text-wrap">
          <p class="text-welcome">Verified Successfully !</p>
          <p class="text-body">
            Your Email adress is verified successfully!
          </p>
          <div >
            <a href="fiatflex://" class="btn">Return to app</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>